<h2>{{pokemon.id}} {{pokemon.name | uppercase}}</h2>
<button mat-stroked-button color="accent" (click)="goBack()">{{ "GO BACK" }}</button>
<a routerLink="/team"><button mat-stroked-button color="accent" (click)="saveToTeam()">{{ "SAVE TO TEAM" }}</button></a>
<app-move-selector></app-move-selector>
<img *ngIf="pokemon.id > 0"
  src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.id}}.png">
<ul>
  <li *ngFor="let move of moves">
    <button mat-flat-button mat-accent (click)=addMove(move)>
      {{getLocalizedMove(move, "en")}}
    </button>
  </li>
</ul>