button { display: blocK; }

ul {
  width: inherit;
  list-style-type: none;
}

li {
  float: left;
}

button:hover {
  color: accent;
}/*
  padding: 5px;
    border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color:  mediumaquamarine;
  background-color: aquamarine;
}

li:hover {
  background-color: lightgreen;
}*/