li {
  float: left;
}

span { display: blocK; }
/*
  width: 120px;
  height: 120px;
  align-content: center;
  border-style: none;
  margin: 3px;
  text-align: center;
}*/

/*li a {
  display: block;
  text-decoration: none;
  color: red;
  font-size: medium;
}
li a:hover {
  background-color: lightskyblue;
}*/