ul {
  width: inherit;
  list-style-type: none;
}

li {
  width: 120px;
  height: 120px;
  align-content: center;
  border-style: none;
  margin: 3px;
  float: left;
  text-align: center;
}

li a {
  display: block;
  text-decoration: none;
  color: red;
  font-size: medium;
}
li a:hover {
  background-color: lightskyblue;
}